
@{
    ViewBag.Title = "PersonelGetir";
}

<h2>Personel Getir</h2> 

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

Personel Id <input type="text" id="personelId"/>
<input type="button" id="personelGetir" value="Personeli Getir"/>

<div id="personel"></div>

<script>

    $(document).ready(function () {
        $("#personelGetir").click(function () {
            var personelid = $("#personelId").val();

            $.getJSON('../api/personel/' + personelid).done(function (veri) {

                var personelBilgisi = veri.Ad + " " + veri.Soyad;

                $('#personel').html(personelBilgisi);
            })
        });
    })

</script>