
@{
    ViewBag.Title = "TumPersoneller";
}

<h2>Tum Personeller</h2>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<input type="button" id="personelListele" value="Personelleri Listele"/>

<div id="per"></div>

<script>

    $(document).ready(function () {
        $("#personelListele").click(function () {
            $.getJSON('../api/personel').done(function (veri) {
                var personeller = "";
                $.each(veri, function (key, personel) {
                    personeller += personel.Ad + " " + personel.Soyad + "</br>";
                });
                $("#per").html(personeller); 
            })
        });
    })
    
    </script>